<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
   <div class="product-carousel" >
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let product of allProducts">
                            <ng-template carouselSlide>
                                 <div class="single-product">
                                    <div class="product-f-image">
                                        <img [src]="product.image" alt="{{ product.image }}">
                                        <div class="product-hover">
                                            <a routerLink="/cart" class="add-to-cart-link"  
                                            
                                           ><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a routerLink="/product_details/{{ product.id }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    
                                    <h2><a routerLink="/product_details">{{ product.product_name }}</a></h2>
        
                                    <div class="product-carousel-price">
                                        <ins>${{ product.price }}</ins>
                                    </div>                            
                                </div> 
                            </ng-template>
                        </ng-container>
                          </owl-carousel-o>
                    </div>
                </div>
    </div>
</div>