
    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-product-widget"  >
                        <h2 class="product-wid-title"  >Top Sellers</h2>
                        <a class="wid-view-more">View All</a>
                   
                        <div class="single-wid-product" *ngFor="let detail of product" >
                           <div *ngIf="detail.top_seller == 1">
                            <a><img src={{detail.image}} alt="" class="product-thumb"></a>
                            <h2><a>{{detail.product_name}}</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>${{detail.discount_price}}</ins> <del>${{detail.price}}</del>
                            </div>
                           </div>                             
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Recently Viewed</h2>
                        <a  class="wid-view-more">View All</a>
                        <div class="single-wid-product" *ngFor="let detail of product" >
                            <div *ngIf="detail.recently_view == 1">
                             <a><img src={{detail.image}} alt="" class="product-thumb"></a>
                             <h2><a>{{detail.product_name}}</a></h2>
                             <div class="product-wid-rating">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                             </div>
                             <div class="product-wid-price">
                                 <ins>${{detail.discount_price}}</ins> <del>${{detail.price}}</del>
                             </div>
                            </div>                             
                         </div>
                    </div>
                </div>
               
            <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top New</h2>
                        <a class="wid-view-more">View All</a>
                        <div class="single-wid-product" *ngFor="let detail of product" >
                            <div *ngIf="detail.top_new == 1 ">
                             <a><img src={{detail.image}} alt="" class="product-thumb"></a>
                             <h2><a>{{detail.product_name}}</a></h2>
                             <div class="product-wid-rating">
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                             </div>
                             <div class="product-wid-price">
                                 <ins>${{detail.discount_price}}</ins> <del>${{detail.price}}</del>
                             </div>
                            </div>                             
                         </div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->
 